.public{
    .wrapper{
        .row{
            .column .margin-bottom {
                .tag-cloud{
                    a{
                        display: block;
                        text-align: center;
                        padding: 12px;
                        border-radius: 22px;
                        border: 1px solid #cacaca;
                    }
                }
            }
        }
    }
}