.communities-show {
  .topics-list {
    ul > li {
      margin-bottom: 0px;
    }

    .topic-info {
      ::before {
        content: '';
      }
    }
  }

}
.communities-participant {
  .tabs {
    background-color: $color-background-content !important;

    .tabs-title {
      a > h3 {
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
        margin-bottom: 0px;
      }
      a[aria-selected='true'] {
        background-color: transparent !important;
      }
    }
  }

  .tabs-content {
    .comment-info {
      span.label {
        background-color: $color-background-card;
      }
    }
  }
}
