.public {
  &.proposals-page {
    background-color: $color-background-content;

    .social-share-full {
      .social-share-button a {
        transition: ease-in-out 300ms;
        border-radius: 10px;
      }
    }
    .sidebar-title {
      @extend .custom-font-anakotmai;
    }
    .supports {
      @extend .custom-font-anakotmai;
      .total-supports {
        font-weight: 400;
        span {
          abbr {
            font-size: 14px;
            font-family: 200;
            @extend .custom-font-pracharath;
          }
        }
      }
      .button-support {
        color: $color-text-button-dark;
        background-color: $brand;
      }

      .progress {
        border: none;
        background-color: $color-background-progress-bar;

        .percentage {
          line-height: 1.9;
          font-weight: 300;
          font-size: rem-calc(10);
        }
        .meter {
          height: rem-calc(14);
          background-color: $brand;
          border-radius: 0.1875rem;
        }
      }
    }

    .subnavigation {
      .search-form-header {
        .input-group-field {
          background: $color-background-form-strong;
          &::placeholder {
            color: $color-text-base;
          }
        }
      }

      @include breakpoint(small down) {
        padding-top: 5px;
      }
    }

    .button-custom {
      border-radius: 22px !important;
    }

    .wrapper {
      main {
        .proposals-page {
          @include full-width-background;

          a[href*='/proposals?order=recommendations'] {
            display: none;
          }

          .proposals-list {
            #proposals-list .clear .panel {
              background: $color-background-card;
            }
            .proposal {
              .panel {
                .row {
                  flex-direction: column;
                  @include breakpoint(medium) {
                    display: flex;
                    align-items: stretch;
                    flex-direction: row;
                  }

                  .column {
                    @include breakpoint(small down) {
                      img {
                        margin-top: 15px;
                        height: 400px;
                        width: 100%;
                        border-radius: 10px;
                        object-fit: contain;
                      }
                    }
                    &:last-child:not(:first-child) {
                      display: inline-grid;
                    }

                    .proposal-content {
                      h3 {
                        margin-top: 5px;
                        font-size: 25px;
                        font-weight: 400;
                      }
                      .icon-comments {
                        &::before {
                          content: '';
                        }
                      }
                      .tags li a {
                        color: $color-text-button-light;
                        background: $color-background-card-hover;
                      }

                      .proposal-info {
                        color: $color-text-base;
                        margin: 0px;
                        font-size: 14px;
                        a {
                          color: $color-text-base;
                        }
                        .label {
                          border-radius: 15px;
                        }
                      }
                      .proposal-description {
                        margin-bottom: 10px;
                        font-size: 16px;
                      }
                    }
                  }
                }
              }
              .with-image {
                img {
                  border-bottom-left-radius: 10px;
                  border-top-left-radius: 10px;
                  width: 160px;
                  object-fit: cover;
                }
              }
              @include breakpoint(small down) {
                .with-image {
                  .row {
                    .proposal-content {
                      margin-top: 15px;
                    }
                  }
                  .supports-container {
                    .supports {
                      margin: 0 10px 0 10px;
                    }
                  }
                }
                .no-images {
                  .supports-container {
                    .supports {
                      margin: 0 10px 0 10px;
                    }
                  }
                }
              }
              .no-images {
                .supports-container {
                  margin-left: 34px;
                  .supports {
                    margin-right: 14.8px;
                  }
                }
              }
            }
          }

          .tag-cloud {
            a {
              display: block;
              text-align: center;
              padding: 12px;
              border-radius: 22px;
              background-color: $color-background-content;
              border: 1px solid $color-border-dark;
              color: $color-text-base;
            }
          }

          .advanced-search-form {
            min-height: 40px;

            @include breakpoint(small down) {
              .general-search {
                margin-top: 30px;
              }
            }

            .button-search {
              @extend .custom-font-anakotmai;
              margin-right: 15px;

              @include breakpoint(small down) {
                position: absolute;
                right: 0px;
                margin-right: 10px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
    .proposal-show {
      .tags {
        a {
          border: none;
          color: $color-text-base;
          border-radius: 20px;
          background-color: $color-background-card;
        }
      }

      .geozone {
        a {
          border: none;
          color: $color-text-base;
          border-radius: 20px;
          background-color: $color-background-card-hover;
        }
      }
    }

    .proposal-edit {
      label:not([for*='search_text']):not(.checkbox-label) {
        font-size: 14px;
        margin-bottom: 0px;
      }
      .is-invalid-input:not(:focus) {
        color: $color-alert;
      }

      select {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        background-size: rem-calc(12);
      }
      select.is-invalid-input:not(:focus) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23cc4b37' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
      }
    }
  }
  .following {
    .interests {
      border-left: 1px solid $color-border;
    }
    .public-interests {
      .tags {
        span {
          border: none;
          color: $color-text-base;
          border-radius: 20px;
          background-color: $color-background-card;
        }
      }
    }
  }
}

// @media screen and (max-width: 1199px) {
//   .public {
//     .wrapper {
//       main .proposals-page .proposals-list .proposal .panel .no-images {
//         .supports-container {
//           margin-left: 25px;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 1023px) {
//   .public {
//     .wrapper {
//       main .proposals-page .proposals-list .proposal .panel .no-images {
//         .supports-container {
//           margin-left: -10px;
//         }
//       }
//     }
//   }
// }
