:root {
  .font-dashboard-side {
    font-size: rem-calc(14);
    font-weight: 400;
  }
}

.menu-and-content {
  .dashboard-sidebar {
    .section-title {
      strong {
        @extend .font-dashboard-side;
      }
      .resources {
        border-width: 2px;

        a {
          @extend .font-dashboard-side;
        }
      }
      // span[class*='icon-'] {
      //   min-width: 24px;
      //   height: 24px;
      //   border-radius: 5px;
      //   background-size: contain;
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   &::before {
      //     content: '';
      //   }
      // }
    }
  }

  legend, label {
    font-weight: normal;
  }

  .question-fields {
    @include breakpoint(small down) {
      .custom-question {
        margin-top: -10px;
        margin-bottom: rem-calc(10);
      }
    }

    @include breakpoint(medium up) {
      .custom-question {
        margin-top: rem-calc(25);
      }
    }
  }

  .admin-content {

    @include breakpoint(small down) {
      a.button {
        width: 100%;
      }
    }

    label.button {
      margin-left: 0;
    }

    .dashboard-proposals-stats {
      .progress-meter {
        background-color: $brand;
      }

      .counter-label {
        color: $color-text-base;
        font-size: rem-calc(12);
      }
      .counter-value {
        font-size: rem-calc(25);
      }

      .custom-goal-support {
        @include breakpoint(small down) {
          margin-top: rem-calc(10);
        }

        .counter-value {
          text-align: right;

          @include breakpoint(small down) {
            text-align: center;
          }
        }

        .custom-goal-label {
          font-size: rem-calc(12);
          text-align: right;
          @include breakpoint(small down) {
            text-align: center;
          }
        }

        .custom-goal-progress {
          margin-top: rem-calc(20);
          display: flex;
          justify-content: space-between;
          align-items: center;
          .next-goal-progress {
            font-size: rem-calc(12);
            font-weight: normal;
          }
        }
      }

      .counter {
        .next-goal-progress {
          font-weight: normal;
          @extend .custom-font-pracharath;
        }

        .custom-progress {
          background-color: $color-background-progress-bar;
          border: none;
        }
      }

      .custom-last-column {
        padding-top: rem-calc(22.5);
        border-left: 1px solid $color-border;
        padding-right: rem-calc(0);

        @include breakpoint(small down) {
          border-left: none;
        }
      }

      a[class*='button'] {
        margin-bottom: 0;
        border-radius: rem-calc(40);
        color: $color-text-base;
        background-color: $brand;
        font-weight: normal;
      }
    }
    .dashboard-community {
      a[class='button'] {
        width: 100%;
      }
    }

    .custom-topic-proposal {
      display: flex;
      align-items: center;

      .proposal-title {
        margin-bottom: 0;
        font-weight: normal;
      }
      .label {
        margin-left: rem-calc(10);
        font-weight: normal;
        height: rem-calc(25);
        background-color: $color-background-card;
        @extend .custom-font-anakotmai;
      }
    }

    .title {
      font-weight: normal;
    }

    .resource-card {
      border-radius: rem-calc(10);
      min-height: rem-calc(250);
      background-color: $color-background-card;

      h4 {
        font-weight: normal;
        color: $color-text-base;
        margin-bottom: rem-calc(90);
      }

      a[class*='button'] {
        margin-bottom: 0;
        color: $color-text-base;
        background-color: $brand;
        font-weight: normal;
      }
    }

    .new_poll {
      margin-top: rem-calc(20);
    }

    .poll-count {
      font-size: rem-calc(14);
      font-weight: 400;
      @extend .custom-font-anakotmai;
    }

    .next-goal-progress {
      @extend .custom-font-pracharath;
    }

    .progress {
      background-color: $color-background-progress-bar;
    }

    .tick text {
      fill: $white;
      font-size: rem-calc(10);
      @extend .custom-font-anakotmai;
    }

    text.c3-axis-y-label {
      fill: $white;
      font-size: rem-calc(14);
      @extend .custom-font-anakotmai;
    }

    .c3-legend-item text {
      fill: $white;
      font-size: rem-calc(12);
      @extend .custom-font-anakotmai;
    }

    .c3 path,
    .c3 line {
      stroke: $white;
      stroke-width: 2;
    }

    #proposal-graph {
      path.domain {
        stroke: $white;
      }
      .tick text {
        fill: $white;
        font-size: 10px;
        @extend .custom-font-anakotmai;
      }
      text.c3-axis-y-label {
        fill: $white;
        font-size: 14px;
        @extend .custom-font-anakotmai;
      }
      .c3-legend-item text {
        fill: $white;
        font-size: 12px;
        @extend .custom-font-anakotmai;
      }
    }
  }
}
