.custom-show-notification-page {
  padding: rem-calc(10) rem-calc(20);
}

.custom-notification-page {
  label:not([for*='search_text']):not(.checkbox-label) {
    font-size: rem-calc(14);
    margin-bottom: rem-calc(0);
  }
}
