
.admin-content {
  .dashboard-proposals-stats {
    @extend .custom-font-anakotmai;

    .next-goal-progress {
    @extend .custom-font-pracharath;
    }

    .progress {
      background-color: $color-background-progress-bar;
    }
  }
  .label {
    border-radius: 10px;
    @extend .custom-font-anakotmai;
  }

  .new_poll {
    margin-top: 20px;
    label:not([for*='search_text']):not(.checkbox-label) {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }

  .poll-count {
    font-size: 14px;
    font-weight: 400;
    @extend .custom-font-anakotmai;
  }

  .c3-tooltip-container {
    .c3-tooltip th,
    tr,
    td {
      color: #000;
      @extend .custom-font-pracharath;
    }
  }

  .c3 path,
  .c3 line {
    stroke: $white;
    stroke-width: 2;
  }

  #proposal-graph {
    path.domain {
      stroke: $white;
    }
    .tick text {
      fill: $white;
      font-size: 10px;
      @extend .custom-font-anakotmai;
    }
    text.c3-axis-y-label {
      fill: $white;
      font-size: 14px;
      @extend .custom-font-anakotmai;
    }
    .c3-legend-item text {
      fill: $white;
      font-size: 12px;
      @extend .custom-font-anakotmai;
    }
  }
}
