.advanced-search-form {
  @include grid-row-nest;
  display: flex;
  flex-direction: column;

   /**
    Override class for MFP-POLICY
    @author Panuwat Chaiwongthon
  */

  // button.advanced-search {
  //   margin-top: -25px !important;
  //   margin-right: 65px!important;
  // }

  @include breakpoint(large) {
    .filter {
      @include grid-column;
      width: 33%;
    }

    .date-filters {
      // float: left;
      // width: 33%;

      .filter {
        width: 100%;
      }

      .custom-date-filters {
        clear: both;
      }
    }

    .submit {
      width: 33%;
    }
  }

  > [aria-expanded] {
    @include xy-gutters;
    /**
    Override class for MFP-POLICY
    @author Panuwat Chaiwongthon
    */
    // color: $link;
    color: $color-text-base;
    cursor: pointer;
    margin-top: $line-height;
    margin-bottom: $line-height;
    max-width: max-content;

    @include breakpoint(medium) {
      align-self: flex-end;
      margin-bottom: 0;
      margin-top: $line-height / 4;
    }
  }

  .general-search,
  .filter,
  .submit {
    @include grid-column-gutter;
  }

  select {
    height: $line-height * 2;
    /**
      Override class for MFP-POLICY
      @author Panuwat Chaiwongthon
    */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-size: rem-calc(12);
  }
}
